/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: filter .2s ease-in;
}

.card:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.6));
    transition: filter .2s ease-in;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.section-more {
    font-size: 18px;
    margin-top: 33px;
}

.section-more:hover {
    color: var(--main-color);
}

/****** Header ***********/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    padding: 30px 0;
}

.logo a {
    display: block;
    height: 19px;
}

.logo img {
    width: 61px;
}

.menu {
    display: flex;
    padding-left: 0;
    gap: 68px;
}

.menu li {
    display: flex;
    box-sizing: border-box;
    height: 35px;
    align-items: flex-end;
}

.menu li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Info Group ***********/
.infogroup {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 35px;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.searchbar {
    display: flex;
}

.searchbar label {
    display: flex;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.fa-location-dot {
    color: black;
}

.searchinput {
    border: 1px solid var(--main-bg-color);
    font-size: 18px;
    font-weight: 700;
    padding-left: 24px;
}

.searchinput:focus {
    outline: none;
}

.button-desktop {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 16px;
}

.button-mobile {
    display: none;
}

.fa-magnifying-glass {
    color: white;
}

.filterblock {
    display: flex;
    gap: 15px;
}

.filtertitle {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.filterbar {
    display: flex;
    padding-left: 0;
    gap: 15px;
}

.filter {
    display: flex;
    align-items: center;
    height: 38px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    gap: 10px;
    padding: 4px 19px;
    font-size: 17px;
    font-weight: 700;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 1px solid #D9D9D9;
    border-radius: 23px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements,
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin-top: 35px;
}

.hebergements-cards {
    display: flex;
    gap: 30px;
}

.hebergements-cards a {
    flex: 1;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-top: 35px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    width: 100%;
    padding: 30px;
    margin-top: 35px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards a {
    flex: 1;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 33px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    padding: 20px 19px;
}

/****** Footer ***********/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 35px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style-type: none;
    gap: 15px;
    flex: 1;
}

.footer-title {
    font-size: 18px;
}

.footer-column a:hover {
    color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** General ***********/
    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }

    /****** Info Group ***********/
    .filterblock {
        flex-direction: column;
        gap: 20px;
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards a {
        flex: 1;
    }

    /****** Activites ***********/
    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card-title {
        display: flex;
        align-items: center;
        padding: 0 19px;
        height: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /****** General ***********/
    .main-container {
        padding: 0;
    }

    .section-more {
        margin-top: 15px;
    }

    /****** Header ***********/
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        width: 100%;
    }

    .menu {
        gap: 0;
    }

    .menu li {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .menu li:hover {
        color: var(--main-color);
        border-top: 0;
        border-bottom: 2px solid var(--main-color);
    }

    /****** Info Group ***********/
    .infogroup {
        padding: 0 20px;
        margin-top: 30px;
    }

    .searchbar {
        border-radius: 15px;
        box-shadow: 0 0 0 1px var(--main-bg-color) inset;
    }

    .searchinput {
        border-right: 0;
        flex: 1;
    }

    .button-desktop {
        display: none;
    }

    .button-mobile {
        display: block;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 15px;
        color: white;
        padding: 15px 16px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .filterbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filter {
        font-size: 14px;
    }

    /****** Hebergements And Populaires ***********/
    .hebergements,
    .populaires {
        border-radius: 0;
    }

    /****** Hebergements ***********/
    .hebergements {
        order: 2;
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
        gap: 0;
    }

    .hebergements-cards .card {
        margin-top: 15px;
    }

    /****** Populaires ***********/
    .populaires {
        order: 1;
        padding: 30px 20px;
        margin-top: 30px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    /****** Activites ***********/
    .activites {
        margin-top: 30px;
    }

    /****** Footer ***********/
    footer {
        margin-top: 30px;
    }

    .footer-column {
        padding: 30px;
    }
}